/* Style sheet created by: Student's First Name Student's Last Name, Today's Date */

/* Style for body specifies a background color */
body {
	background-color: #FFFFFF;
}

header p{
	margin-bottom: 4em;
	padding-top: 1.5em;
}

nav li{
	display: inline;
	float:left;
	margin-left:1%;
	margin-right: 1%;
	padding-left: 0;
	padding-right: 0;
	width: 23%
}
nav{
	margin-top: -5em;
}

nav ul{
	 margin: 0;
	 padding-left:0.50%;
	 padding-right: 0.50%;

}

nav li {
	background-color:#FFFFFF;
	border-radius: 0;
	margin-left: 0;
	margin-right: 0;
	padding: 0;
	width: 18%;

}

nav li a{
	color: #FF6600;
	display: inline-block ;
	padding: 0.7em;
	font-size: 1.25em;
}

nav li a:link{
	color: #4c1f00
}

nav li a:hover{
	color:#4c1f00;
	font-style: italic;

}

main{
	border: none;
	border-radius: 1em;
	box-shadow: 1em 1em 1em #3331400;
	margin-top: 1em;
}

.mobile{
	display:none;


}

@media screen and (max-width: 600px) {
	nav li {
		display:block;
		margin:0.3em;
		padding:0.4;
		font-size: 16px;
	}
}

nav li {
	background-color:#FF6600;
	

}



/* Styles for Mobile Layout */

/* Style for the container centers the page and specifies the width */
#container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

/* Style for the header specifies top margin, background color, rounded corners, and center align content */
header {
	font-family: Verdana, Arial, serif;
	font-size: 2em;
	margin-top: 0.2em;
	background-color: #FFFFFF;
	border-radius: 0.5em;
	text-align: center;
}

/* Style for nav specifies text properties */
nav {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
}

/* Style for the main specifies a block display, text properties, margins, padding, rounded corners, and borders  */
main {
	display: block;
	font-family: Georgia, "Times New Roman", sans-serif;
	font-size: 1em;
	margin-top: 0.2em;
	padding: 0.5em;
	border-top: solid 0.2em #FF6600; 
	border-bottom: solid 0.2em #FF6600;
}

main{
	clear: left;
	margin-top: 12em;

}

/* Style for the footer specifies font size, text alignment, and top margin */
footer {
	font-size: .70em;
	text-align: center;
	margin-top: 2em;
}